{{#if loadingNewWindow}}
  {{loading-spinner size='large'}}
{{else}}
  {{#if currentUser.town}}
    <div class="town-update container">
      <div class="title">
        <span>{{currentTown}}</span>
      </div>

      {{#unless canSetTown}}
        <div class="p-text small">
          {{i18n 'user.update_place' changeMin=siteSettings.place_town_change_min
                                     place=currentUser.town.name
                                     setTime=(place-time currentUser.town_joined_at)
                                     placeType='town'
                                     nextTime=(place-time townNextTime)}}
        </div>
      {{/unless}}

      <div class="regions">
        <div class='country p-text small'>
          {{currentCountry}}
        </div>
        {{#if currentMultinational}}
          <div class='multinational p-text small'>
            {{currentMultinational}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}

  {{#if canSetTown}}
    <div class='town-set container'>
      <div class="title">
        <span>{{i18n 'place.town.title'}}</span>
        <img class='title-emoji' src='/images/emoji/twitter/house_with_garden.png'/>
      </div>

      <div class="p-text description small">
        {{i18n 'place.town.description' changeMin=siteSettings.place_town_change_min}}
      </div>

      <div class="controls-container">
        {{place-set selectedId=selectedId
                    type='town'
                    loading=loading
                    routeAfterSet=routeAfterSet
                    loadingNewWindow=loadingNewWindow}}
      </div>
    </div>
  {{/if}}

  {{#if currentUser.neighbourhood}}
    <div class="neighbourhood-update container">
      <div class="title">
        <span>{{currentNeighbourhood}}</span>
      </div>

      {{#if canSetNeighbourhood}}
        <div class='neighbourhood-set'>
          <div class="title">
            <span>{{i18n 'place.neighbourhood.title'}}</span>
            <img class='title-emoji' src='/images/emoji/twitter/houses.png'/>
          </div>

          <div class="p-text description small">
            {{i18n 'place.neighbourhood.description' changeMin=siteSettings.place_neighbourhood_change_min}}
          </div>

          <div class="controls-container">
            {{place-set selectedId=selectedId
                        type='neighbourhood'
                        loading=loading
                        routeAfterSet=routeAfterSet
                        loadingNewWindow=loadingNewWindow}}
          </div>
        </div>
      {{else}}
        <div class="p-text small">
          {{i18n 'user.update_place' changeMin=siteSettings.place_neighbourhood_change_min
                                     place=currentUser.neighbourhood.name
                                     placeType='neighbourhood'
                                     setTime=(place-time currentUser.neighbourhood_joined_at)
                                     nextTime=(place-time neighbourhoodNextTime)}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if showHome}}
    <div class="place-home container">
      <div class="title">
        <span>{{homeTitle}}</span>
      </div>

      <div class="p-text small">
        {{i18n 'place.home.description'}}
      </div>

      <div class="controls">
        {{combo-box content=homes value=currentHome}}

        <div class='instructions'>
          {{i18n 'place.home.set_instructions'}}
        </div>
      </div>
      <div class='controls'>
        {{d-button label='place.home.set'
                   action='setHome'
                   disabled=setHomeDisabled
                   class="btn btn-primary"
                   icon='check'}}
        {{conditional-loading-spinner size="small" condition=settingHome}}
      </div>
    </div>
  {{/if}}

  {{#if showAddTownBtn}}
    <div class="show-add-town">
      {{d-button action='toggleShowAddTown' label='place.town.not_listed'}}
    </div>
  {{/if}}

  {{#if showAddTown}}
    {{town-user-add routeAfterSet=routeAfterSet
                    loadingNewWindow=loadingNewWindow}}
  {{/if}}
{{/if}}
