{{#if place}}
  <div class="place-update">
    <div class="title">{{placeTitle}}</div>
    <div class="p-text small">
      {{i18n 'user.update_place_period' changeMin=siteSettings.place_change_min}}
    </div>
    <div class="p-text small">
      {{{i18n 'user.update_place_set' place=place.name setTime=(place-time currentUser.place_joined_at)}}}
    </div>
    {{#unless updatePlaceAllowed}}
      <div class="p-text small">
        {{{i18n 'user.update_place_next' nextTime=(place-time nextTime)}}}
      </div>
    {{/unless}}
  </div>
  <div class="place-points">
    <div class="title">{{i18n 'place.points.title'}}</div>
    <div class="p-text small">
      {{i18n 'place.points.current' points=currentUser.place_points}}
    </div>
    <div class="p-text small">
      {{pointsDescription}}
    </div>
  </div>
{{else}}
  <div class="place-set">
    <div class="title">{{i18n 'place.select.title'}}</div>
    <div class="p-text description small">{{i18n 'place.select.description'}}</div>
    {{#if setPlaceAllowed}}
      <div class="container">
        {{place-select selectedId=selectedId
                       setDisabled=setDisabled
                       setPlace="setPlace"
                       loading=loading
                       toggleExtraControls='toggleExtraControls'
                       addPlace='showPetition'}}
      </div>
    {{/if}}
    {{#if showNotListedNote}}
      <div class="p-note small">
        <div>{{i18n 'place.select.note'}}</div>
        {{d-button action='showPetition' label='place.select.not_listed'}}
      </div>
    {{/if}}
  </div>
{{/if}}

{{#if setPlaceAllowed}}
  {{#if showPetition}}
    <div class="place-petition">
      <div class="title">{{i18n 'place.select.petition.title'}}</div>
      <div class="p-text description small">{{petitionDescription}}</div>
      <div class="container">
        <span class="petition-search-title">{{i18n 'place.select.petition.search.title'}}</span>
        <div class="petition-search">
          {{input type='text' value=placeTitle placeholder=(i18n 'place.select.petition.search.placeholder')}}
          <div class="icon">
            {{#if searchingPetitions}}
              {{loading-spinner size='small'}}
            {{else}}
              {{d-icon 'search'}}
            {{/if}}
          </div>
        </div>
        <div class="p-list-box">
          {{similar-titles title=placeTitle
                           categoryId=siteSettings.place_petition_category_id
                           allowBlankSearch=true
                           requireCategory=true
                           translatedNone=noPetitions
                           noDefinitions=true
                           searching=searchingPetitions}}
        </div>
      </div>
      <div class="container">
        <div class="p-text small add-description">
          {{{i18n 'place.select.petition.start'}}}
        </div>
        <div class="controls">
          {{d-button label='place.select.petition.start_btn' action='addPlace' class="btn btn-primary"}}
          {{conditional-loading-spinner size='small' condition=loadingNewWindow}}
        </div>
        {{#unless site.mobileView}}
          <div class="p-note small">{{petitionNote}}</div>
        {{/unless}}
      </div>
    </div>
  {{/if}}
{{/if}}
