<div class="place-name-label" title="{{i18n 'place.town.label'}}">
  {{d-icon 'building'}}
  {{#if user.town}}
    <span>{{user.town.place_name}}</span>
  {{else}}
    {{d-icon 'question'}}
  {{/if}}
</div>

<div class="place-name-label" title="{{i18n 'place.neighbourhood.label'}}">
  {{d-icon 'home'}}
  {{#if user.neighbourhood}}
    <span>{{user.neighbourhood.place_name}}</span>
  {{else}}
    {{d-icon 'question'}}
  {{/if}}
</div>
