<div class="place-name-label" title="{{i18n 'place.label'}}">
  {{d-icon 'home'}}
  {{#if user.place}}
    <span>{{user.place.place_name}}</span>
  {{else}}
    {{d-icon 'question'}}
  {{/if}}
</div>
<div class="place-points-label" title="{{i18n 'place.points'}}">
  {{d-icon 'circle'}}
  <span>{{user.place_points}}</span>
</div>
