{{#if place}}
  <div class="place-update">
    <div class="p-text small">
      {{i18n 'user.update_place_period' changeMin=siteSettings.place_change_min}}
    </div>
    <div class="p-text small">
      {{{i18n 'user.update_place_set' place=place.category.name setTime=(place-time place.joined_at)}}}
    </div>
    {{#unless updatePlaceAllowed}}
      <div class="p-text small">
        {{{i18n 'user.update_place_next' nextTime=(place-time place.nextTime)}}}
      </div>
    {{/unless}}
  </div>
{{else}}
  <div class="place-set">
    <div class="p-text medium">{{i18n 'place.select.title'}}</div>
    <div class="p-note small">{{{i18n 'place.select.note'}}}</div>
    <div class="p-text small">{{{i18n 'place.select.description'}}}</div>
    {{#if setPlaceAllowed}}
      <div class="container">
        {{place-select selectedId=selectedId
                       setDisabled=setDisabled
                       setPlace="setPlace"
                       loading=loading
                       toggleExtraControls='toggleExtraControls'}}
      </div>
    {{/if}}
  </div>
{{/if}}

{{#if setPlaceAllowed}}
  {{#if showPetition}}
    <div class="place-petition">
      <div class="p-text medium">{{i18n 'place.select.petition.title'}}</div>
      <div class="p-note small">{{{i18n 'place.select.petition.note'}}}</div>
      <div class="p-text small">{{{i18n 'place.select.petition.description'}}}</div>
      <div class="container">
        <span class="p-text small title">{{i18n 'petition.similar.title'}}</span>
        {{input type='text' value=placeTitle placeholder=(i18n 'place.select.petition.placeholder')}}
        <div class="p-list-box">
          {{similar-titles title=placeTitle
                           categoryId=siteSettings.place_petition_category_id
                           allowBlankSearch=true
                           requireCategory=true
                           none="place.select.petition.none"
                           noDefinitions=true}}
        </div>
      </div>
      <div class="container">
        <div class="p-text small add-description">
          {{{i18n 'place.select.petition.start'}}}
        </div>
        {{d-button label='place.select.petition.start_btn' action='addPlace' class="btn btn-primary"}}
      </div>
    </div>
  {{else}}
    {{d-button action='showPetition' label='place.select.not_listed'}}
  {{/if}}
{{/if}}
